* {
    font-family: 'Berkeley Mono', Consolas, 'Courier New', monospace;
}

.statusbar {
    font-family: 'Berkeley Mono', Consolas, 'Courier New', monospace;
}

.window-title {
    font-family: -apple-system, BlinkMacSystemFont, sans-serif!important;
}

.editor-group-watermark {
    opacity: 0
}
