* {
    font-family: "SF Pro";
}

.editor-container * {
    font-family: "JetBrains Mono" !important;
}

.statusbar {
    font-family: "JetBrains Mono", monospace;
}

.letterpress {
    opacity: 0;
}
