* {
    font-family: "Berkeley Mono", monospace;
}

.statusbar {
    font-family: "Berkeley Mono", monospace;
}

.editor-group-watermark {
    background-image: url(/Users/[...]/vscode_bg_icon.svg);
    opacity: 0
}
