/* :root,
.monaco-workbench {
    --vscode-font-family: "Berkeley Mono", system-ui !important;
    font-family: "Berkeley Mono", system-ui !important;
} */

.editor-group-watermark {
    display: none !important;
}
