:root,
.monaco-workbench {
    --vscode-font-family: "Geist Mono", system-ui !important;
    font-family: "Geist Mono", system-ui !important;
}

.editor-group-watermark {
    display: none !important;
}
